<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="<%= stylesheet_path 'stylesheets/app' %>" rel="stylesheet" />
    <title>Compliance Viewer</title>
  </head>

  <body>

    <%= erb 'partials/header'.to_sym %>

    <section class="content">
      <div class="usa-grid">
        <%= yield %>
        </div>
      </div>
    </section>

    <%= erb 'partials/footer'.to_sym %>

    <script src="<%= javascript_path 'javascripts/app' %>"></script>
  </body>
</html>
