<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="<%= stylesheet_path 'stylesheets/app' %>" rel="stylesheet" />
    <title>Compliance Viewer</title>
  </head>

  <body>

    <%= erb 'partials/header'.to_sym %>

    <main class="sidenav-parent">
      <div class="sidenav-main" id="main-content">
        <div class="usa-content content">
        <%= yield %>
        </div>
      </div>
    </main>

    <%= erb 'partials/footer'.to_sym %>

    <script src="<%= javascript_path 'javascripts/app' %>"></script>
  </body>
</html>
