
<a href="/">&#8592; Project List Page</a>

<% alert_count = report_data['alerts'].length %>
<div class="usa-alert usa-alert-statusbar usa-alert-no-icon <%= alert_count == 0 ? 'usa-alert-success' : 'usa-alert-warning' %>">
  <div class="usa-alert-text">
    <p class="usa-alert-text">
      <% if alert_count == 0 %>
        All scans passing
      <% else %>
        Scans returned <%= alert_count %> error<% if alert_count > 1 %>s<% end %>
      <% end %>
      <span class="usa-alert__updated-at">Updated <time class="js-time-human-readable" datetime="<%= project_time.to_datetime %>" title="<%= project_time %>"><%= project_time %></time></span>
    </p>
  </div>
</div>

<h1><%= project_name %></h1>
<div class="getting_started">
  <h2>Getting Started</h2>
  <p>
    When it comes down to it, compliance is a conversation. To ensure that the conversation goes smoothly, your team should start the compliance process at the outset of your project, not right before you ship. Here are the steps you need to take to ensure your project is compliant:
  </p>
  <ul>
    <li><a href="https://pages.18f.gov/before-you-ship/" title="Before You Ship">Read the &quot;Before You Ship&quot; ATO walk through</a></li>
    <li><a href="https://pages.18f.gov/before-you-ship/ato/checklist/">Open a GitHub issue using the ATO checklist</a></li>
    <li>Meet with your assigned Infrastructure Lead</li>
  </ul>
</div>
<div class="scan_results">
  <h2>Current Scan</h2>
  <div class="download_data">
    <a class="usa-button" href="/results/<%= project_name %>/<%= project_version %>?format=json" title="View scan data">
      View scan data (.json)
    </a>
  </div>
  <p class="updated_at">Updated <time class="js-time-human-readable" datetime="<%= project_time.to_datetime %>"><%= project_time %></time></p>
  <% if alert_count == 0 %>
    <div class="usa-alert usa-alert-success usa-alert-no-icon">
      <p class="usa-alert-text">All scans passing</p>
    </div>
  <% else %>
    <table class="alerts-table js-table-sortable">
      <thead>
        <tr>
          <th class="alerts-table_type" data-sort="string" scope="col">
            Type
          </th>
          <th class="alerts-table_risk js-default-sort" data-sort="risk" data-sort-default="desc" scope="col">
            Risk (Confidence)
          </th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% for alert, alert_data in report_data['alerts'] %>
          <tr>
            <td><%= alert %></td>
            <td data-sort-value="<%= alert_data['risk'] %>">
              <%= alert_data['risk'] %> (<%= alert_data['confidence'] %>)
            </td>
            <td>
              <%= alert_data['description'] %>
              <a href="/results/<%= project_name %>/<%= project_version %>?format=json" title="View scan data"> View scan data (.json)</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

</div>
