
<div class="backlink">
  <a href="/">Project List Page</a>
</div>
<div class="statusbar">
  All scans passing <span class="statusbar__updated_at">Updated <time class="js-time-human-readable" datetime="<%= project_time %>"><%= project_time %></time></span>
</div>
<h1><%= project_name %></h1>
<div class="getting_started">
  <h2>Getting Started</h2>
  <p>Compliance is both a process and a conversation. To ensure that the goes smoothly, the project team should start at the beginning of the project, not just ‘before you ship’. Below are the steps that need to be performed.</p>
  <ul>
    <li><a href="https://pages.18f.gov/before-you-ship/" title="Before You Ship">Read the &quot;Before You Ship&quot; ATO walk through</a></li>
    <li><a href="https://pages.18f.gov/before-you-ship/ato/checklist/">Open a GitHub issue using the ATO checklist</a></li>
    <li>Meet with your assigned Infrastructure Lead</li>
  </ul>
</div>
<div class="scan_results">
  <h2>Current Scan</h2>
  <div class="download_data">
    <a class="usa-button" href="/results/<%= project_name %>/<%= project_version %>?format=json" title="Download scan data" download>
      Download scan data (.json)
    </a>
  </div>
  <p class="updated_at">Updated <time class="js-time-human-readable" datetime="<%= project_time %>"><%= project_time %></time></p>
  <table class="js-table-sortable">
    <thead>
      <tr>
        <th data-sort="string">Type</th>
        <th data-sort="string">Risk (Confidence)</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% for alert, alert_data in report_data['alerts'] %>
        <tr>
          <td><%= alert %></td>
          <td><%= alert_data['risk'] %> (<%= alert_data['confidence'] %>)</td>
          <td><%= alert_data['description'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
