<h1><%= compliance_data.base_name(versions.first.key) %> history</h1>
<% for version in versions %>
  <p>
    <a href="<%= compliance_data.base_name(version.key) %>/<%= version.id %>">
      <%= version.last_modified.strftime("%F at %T") %>
    </a>
    <a href="<%= compliance_data.base_name(version.key) %>/<%= version.id %>?format=json">(json)</a>, <%= version.size %> bytes
  </p>
<% end %>
