<h1><%= base_name(versions.first.key) %> history</h1>
<% for version in versions %>
  <p>
    <a href="<%= base_name(version.key) %>/<%= version.id %>">
      <%= version.last_modified.strftime("%F at %T") %>
    </a>
    <a href="<%= base_name(version.key) %>/raw/<%= version.id %>">(json)</a>, <%= version.size %> bytes
  </p>
<% end %>
